.hero {
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem 3rem;
  border-radius: 12px;
  color: #333333;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1 1 300px;
  text-align: left;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 0.8rem 2rem;
  background-color: #222;
  color: #d9e5d7;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #444;
  color: rgb(185, 185, 159);
}

.hero-image {
  flex: 1 1 200px;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}
